@charset "UTF-8";

body{
	background-color: #3d0400;
}

.form-card{
	width: 35rem;
	margin: 1rem auto;
}

.p-col{
    display: grid;
}
.setup-list-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem;
}

.setup-list-detail {
    flex: 1 1 0;
    -ms-flex: 1 1 0;
}

.setup-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.setup-email {
    margin: 0 0 1rem 0;
}

.setup-list-action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    color: red;
}

.setup-address {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end;
}








